h1 {
    text-align: center;
    color:red;
}

.leon {
    text-transform: uppercase;
}

.firstsection {
    color:#DC143C;
    text-align: center;
}

.trustory {
    font-style: oblique;
}

.boaswollows {
    font-style: oblique;
}

.frighten {
    font-style: oblique;
}

.hat {
    font-style: oblique;
}

.secondsection {
    color:#DC143C;
    text-align: center;
}

.pleasesheep {
    font-style: oblique;
}

.which {
    font-style: oblique;
}

.draw {
    font-style:oblique;
}

.whatareyoudoing {
    font-style:oblique;
}

.pleasewrite {
    font-style: italic;
}